<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs', {style: "home"}) %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- Main -->
    <main>
      <h1>Editar Producto: <%= prodFound.name %></h1>

      <form method="post"  action="/products/edit/<%= prodFound.id %>?_method=PUT" enctype="multipart/form-data">
        <div>
          <label for="name">Nombre</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Vaso 500ML"
            value="<%= prodFound.name %>"
          />
        </div>

        <div>
          <label for="descripcion">Descripcion</label>
          <textarea
            name="description"
            id="descripcion"
            placeholder="Impreso en PLA multicolor..."
          >
<%= prodFound.description %></textarea
          >
        </div>

        <div>
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <% categories.forEach(item => { %>
              <option value="<%= item.id %>" <%= prodFound.category_id == item.id ? "selected" : "" %>><%= item.name %></option>             
            <% }) %>
          </select>
        </div>

        <div>
          <label for="filament">Filamento</label>
          <select name="filament" id="filament">
            <% filaments.forEach(item => { %>
              <option value="<%= item.id %>" <%= prodFound.filament_id == item.id ? "selected" : "" %>><%= item.name %></option>             
            <% }) %>
          </select>
        </div>

        <div>
          <label for="image">Imagen</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>

        <div>
          <label for="size">Tamaño</label>
          <select name="size" id="size">
            <% sizes.forEach(item => { %>
              <option value="<%= item.id %>" <%= prodFound.size_id == item.id ? "selected" : "" %>><%= item.name %></option>             
            <% }) %>
          </select>
        </div>

        <div>
          <label for="price">Precio</label>
          <input type="number" name="price" id="price"  value="<%= prodFound.price %>"/>
        </div>

        <div>
          <label for="available">Disponible</label>
          <input type="checkbox" name="available" id="available" <%= prodFound.available ? "checked" : "" %>/>
        </div>

        <button type="submit">EDITAR</button>
      </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
