<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs', {style: "home"}) %>
  <body>
    <!-- Navbar -->
    <%- include('../partials/navbar.ejs') %>
    <!-- Main -->
    <main>
      <h1>Nuevo Producto</h1>

      <form action="/products/add" method="post" enctype="multipart/form-data">
        <div>
          <label for="name">Nombre</label>
          <input type="text" name="name" id="name" placeholder="Vaso 500ML" />
        </div>

        <div>
          <label for="descripcion">Descripcion</label>
          <textarea
            name="description"
            id="descripcion"
            placeholder="Impreso en PLA multicolor..."
          ></textarea>
        </div>

        <div>
          <label for="category">Categoria</label>
          <select name="category" id="category">
            <option selected disabled>Selecciona una opcion</option>
            <% categories.forEach(category => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="filament">Filamento</label>
          <select name="filament" id="filament">
            <option selected disabled>Selecciona una opcion</option>
            <% filaments.forEach(filament => { %>
            <option value="<%= filament.id %>"><%= filament.name %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="image">Imagen</label>
          <input type="file" id="image" name="image" accept="image/*" />
        </div>

        <div>
          <label for="size">Tamaño</label>
          <select name="size" id="size">
            <option selected disabled>Selecciona una opcion</option>
            <% sizes.forEach(size => { %>
            <option value="<%= size.id %>"><%= size.name %></option>
            <% }) %>
          </select>
        </div>

        <div>
          <label for="price">Precio</label>
          <input type="number" name="price" id="price" />
        </div>

        <div>
          <label for="available">Disponible</label>
          <input type="checkbox" name="available" id="available" checked />
        </div>

        <button type="submit">Crear</button>
      </form>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
